<!DOCTYPE html>
<html lang=en>
  {% include "base-header.html" %}
  <body>
    <div id="wrapper">
      <div id="top" class="pure-g">
        <div class="pure-u-1-6"></div>
        <div class="pure-u-1-6">
          <div id="logo">
            <a href="/">{{site-title}}</a>
          </div>
        </div>
        {% include "base-top-buttons.html" %}
        <div class="pure-u-1-6"></div>
      </div>
      <!-- Begin Navigation -->
      <div id="nav" class="pure-g">
        <div class="pure-u-1-6"></div>
        <div class="pure-u-1-6">
          <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
              <li class="pure-menu-item">
                <a class="pure-menu-link smooth"
                   {% block overview-selected %}
                   {% endblock overview-selected %}
                   href="/overview">
                  Overview
                </a>
              </li>
              <li class="pure-menu-item">
                <a class="pure-menu-link smooth"
                   {% block get-started-selected %}
                   {% endblock get-started-selected %}
                   href="/get-started">
                  Get Started
                </a>
              </li>
              <li class="pure-menu-item">
                <a class="pure-menu-link smooth"
                   {% block reference-selected %}
                   {% endblock reference-selected %}
                   href="/reference">
                  Reference
                </a>
              </li>
              <li class="pure-menu-item">
                <a class="pure-menu-link smooth"
                   {% block software-selected %}
                   {% endblock software-selected %}
                   href="/software">
                  Software
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Navigation -->
      <div class="pure-g">
        <div class="pure-u-1-6"></div>
        <div class="pure-u-2-3">
          {% block content %}{% endblock content %}
        </div>
        <div class="pure-u-1-6"></div>
      </div>
    </div>
    {% include "base-footer.html" %}

    <script type="text/javascript">
     HighlightLisp.highlight_auto();
     HighlightLisp.paren_match();
    </script>
  </body>
</html>
