<!-- Begin Header -->
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="index,follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="{{site-description}}">
  <meta name="viewport" content="width=device-width,maximum-scale=1">
  {% for css in css-local %}
  <link rel="stylesheet" type="text/css" href="/css/{{css}}.css">
  {% endfor %}
  {% for css in css-remote %}
  <link rel="stylesheet" type="text/css" href="{{css}}">
  {% endfor %}
  {% for js in js-local %}
  <script type="text/javascript" src="/js/{{js}}"></script>
  {% endfor %}
  {% for js in js-remote %}
  <script type="text/javascript" src="{{js}}"></script>
  {% endfor %}
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <title>{{ site-title }} - {{ section }}</title>
</head>
<!-- End Header -->
