<!-- Begin Top Buttons -->
<div class="pure-u-1-2">
  <div class="pure-menu pure-menu-horizontal">
    <ul id="top-menu" class="pure-menu-list">
      <li class="pure-menu-item
                 pure-menu-allow-hover">
        <a class="pure-menu-link btn btn-sm btn1 smooth"
           href="https://github.com/mfiano/pyx"
           target="_blank">
          <i class="fa fa-github"></i>
          Open Source
        </a>
      </li>
      <li class="pure-menu-item">
        {% if user-name %}
        <a class="pure-menu-link btn btn-sm btn1 smooth"
           href="/user/sign-out">
          <i class="fa fa-user"></i>
          Sign Out
        </a>
        {% else %}
        <a class="pure-menu-link btn btn-sm btn1 smooth"
           href="/user/sign-in">
          <i class="fa fa-user"></i>
          Sign In
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
<!-- End Top Buttons -->
