{% extends "layout-full.html" %}

{% block overview-selected %}
id="selected"
{% endblock overview-selected %}

{% block main %}
<p>
  Pyx aims to be a complete content creation platform targeted at developers
  that want to make impressive video games, and reducing as much of the work
  involved as possible, which can otherwise cost years of time and money in
  order to show the world their beautiful creations.
</p>

<h2>The Problem</h2>
<p>
  Writing a game is a difficult task, to say the least. Even with a complete
  graphics framework, there is a significant amount of work to be done to get
  everything drawn to the screen and behaving correctly, before game mechanics
  and content creation can even be considered. Some of the work involved
  includes:
</p>
<ul>
  <li>
    Organizing the project with classes or other constructs to represent the
    data in a means suitable for the particular game, and managing that flow of
    data as the project grows.
  </li>
  <li>
    Describing object transformations in the scene hierarchy, and other
    mathematical operations.
  </li>
  <li>
    Handling response to user input, in addition to supporting a wide variety of
    hardware devices such as mice, keyboards, and game controllers.
  </li>
  <li>
    Locating, loading at the appropriate time, and caching resources from disk,
    such as images, audio, fonts, and models.
  </li>
  <li>
    Describing stunning visualizations and other expensive logic in hardware on
    a graphics processor using an intermediate programming language.
  </li>
  <li>
    ...and much, much more.
  </li>
</ul>

<h2>The Solution</h2>
<p>
  Pyx attempts to solve these problems in a few different ways:
</p>
<h3>Component-Driven Architecture</h3>
<p>
  Pyx adopts a component-driven architecture in which new content and game logic
  can be easily integrated, manipulated, and re-used in a modular fashion.
</p>
<p>
  There is built-in support for many components common to all types of games,
  including components for managing object transformations, rendering, using 3D
  meshes or 2D sprites, animation, collision detection, and more.
</p>
<p>
  Components are very easy to use and encode arbitrarily complex behavior into,
  and they all share a common protocol for describing their behavior at
  different points of their lifecycle in a running game.
</p>
<h3>Powerful Set of Domain-Specific Languages</h3>
<p>
  Developers have access to a very powerful set of domain-specific languages for
  describing and manipulating all the different content that their games are
  comprised of. They seamlessly integrate directly into the source code wherever
  they would make sense, and resemble the rest of the programming language. This
  allows one to develop a game without the setback of learning another
  programming language, or updating configuration files.
</p>
<p>
  Since Pyx is written in a high-performance interactive programming language,
  it allows the developer to also interactively program their games. Imagine for
  a moment, describing complex behavior of a game mechanic using a concise and
  powerful mini-language embedded into your program, and instructing the game
  engine to update it as the game is running to see immediate feedback, without
  the need to re-compile the project and re-launch the game. This is all
  possible in Pyx, and dramatically reduces the time it takes to write and debug
  a game.
</p>
<p>
  One case this is useful is for writing GPU shader programs -- you can do so
  using one of our domain-specific languages directly in your program's source
  code, keep updating it to see visual changes in real-time, and never having to
  write a single line of code in an intermediate GPU language such as GLSL, or
  even stopping to re-compile or re-launch the project.
</p>
<h3>Community Extension Packs</h3>
<p>
  Pyx allows developers to create and release extensions containing game
  components, associated behavior, and game assets for others to use and
  manipulate in their own creations. They can then be downloaded and integrated
  into new projects quickly and painlessly.
</p>
<p>
  This community aspect is important in game design, as it allows developers to
  skip many time-consuming steps, such as multimedia creation, or even complex
  game mechanics.
</p>

{% endblock main %}
