{% extends "layout-full.html" %}

{% block main %}
<h1>Register New Account</h1>
<form action="/user/register" method="post">
  <input name="_csrf_token" type="hidden" value="{{csrf-token}}">
  <label for="email">Email Address</label>
  <input name="email" value="{{email}}" required>
  <label for="name">User Name</label>
  <input name="name" value="{{name}}" required>
  <label for="password">Password</label>
  <input name="password" type="password" value="{{password}}" required>
  <button class="btn btn-med btn2" type="submit">
    Register
  </button>
</form>
{% endblock main %}
