/* HTML tags */

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #222;
}

body {
    background: #ddd;
}

a {
    color: #5fb200;
    text-decoration: none;
}

h1 {
    font-family: Bitter;
    color: #5fb200;
}

h2, h3 {
    color: #454545;
}

h1:first-of-type {
    margin-top: 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

form label {
    font-weight: 500;
}

form input {
    border-radius: 3px;
    border: 1px solid #5fb200;
    padding: 0.5em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

form input:focus {
    background: #ddd;
}

form button {
    border-radius: 3px;
    border: 1px solid #5fb200;
    font-size: 2em;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #5fb200;
    margin: 2em 0em;
}

table tr {
    line-height: 1.5em;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table th, td {
    font-size: 0.8em;
    padding: 0.5em;
}

table th {
    font-family: Roboto;
    background-color: #5fb200;
    color: #fff;
    font-weight: 500;
    text-align: left;
}

pre {
    padding: 0.5em 1em;
}

code {
    font-family: Iosevka Web;
    font-size: 1.2rem;
    color: #454545;
    border-radius: 4px;
}

:not(pre) > code {
    line-height: 1.2rem;
    padding: 0.25rem 0.25rem 0 0.25rem;
    margin: 0 0.25rem;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 0.05rem;
    box-shadow: 1px 1px 0.25rem rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 0.25rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 0.25rem rgba(0, 0, 0, 0.5);
}

/* Common */

.pure-g [class*="pure-u"] {
    font-family: Roboto;
}

#wrapper {
    min-height: calc(100% - 2.5em);
}

#wrapper:after {
    content: "";
    display: block;
    height: 3rem;
}

#selected {
    color: #eee;
    background: #5fb200;
}

i.fa {
    padding-right: 0.5em;
}

.smooth {
    transition: color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.btn {
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    padding: 0.5em;
}

.btn:hover {
    color: #eee;
    background: #5fb200;
    cursor: pointer;
}

.btn-sm {
    font-size: 0.8em;
}

.btn-lg {
    font-size: 1.1em;
}

.btn1 {
    color: #454545;
    background: #eee;
}

.btn2 {
    color: #eee;
    background: #5fb200;
}

.menu {
    color: #454545;
    border-radius: 3px;
    box-shadow: 1px 1px 0.3rem rgba(0, 0, 0, 0.8);
    min-width: 100%;
}

.menu .btn {
    background: #eee;
    border: 0;
    border-radius: 0;
    text-align: left;
}

.menu .btn:hover {
    color: #454545;
    background: #ddd;
}

.menu li:first-of-type .btn {
    border-radius: 3px 3px 0 0;
}

.menu li:last-of-type .btn {
    border-radius: 0 0 3px 3px;
}

.code-block {
    margin: 2rem 0;
    box-shadow: 1px 1px 0.25rem rgba(0,0,0,0.5);
    border-left: 0.3rem solid #5fb200;
    border-radius: 4px;
}

pre code.hl-highlighted {
    white-space: pre;
    background: none;
    border: none;
    overflow-x: auto;
}

code.hl-highlighted .keyword {
    color: #9a32cd;
}

code.hl-highlighted .comment {
    color: #888;
}

code.hl-highlighted .number {
    color: #c76;
}

code.hl-highlighted .string {
    color: #0099f9;
}

code.hl-highlighted .variable.global,
code.hl-highlighted .variable.constant {
    color: #ff5000;
}

code.hl-highlighted .list.active {
    display: inline-block;
    font-weight: 600;
}

/* Top */

#top {
    background: #ddd;
}

#logo {
    font-family: Barlow Condensed;
    font-size: 2.5em;
    font-weight: 600;
    padding: 0.4rem 0;
}

#top-menu {
    padding: 1rem 0 1rem 0;
    float: right;
}

#top-menu .btn {
    min-width: 4em;
}

#top-menu > li:not(:last-child) {
    margin-right: 0.8em;
}

/* Navigation */

#nav {
    background: #454545;
    font-size: 0.85em;
    height: 3em;
    margin-bottom: 2em;
}

#nav a {
    height: 2em;
    color: #eee;
    margin: 0;
    line-height: 2em;
}

#nav a:hover {
    background: #5fb200;
}

/* Content */

.message {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-left: 4px solid #5fb200;
    font-size: 0.85em;
    line-height: 1.5em;
}

.message li:not(:last-of-type) {
    padding-bottom: 1em;
}

.message span {
    color: #5fb200;
}

#main {
    font-size: 1.3em;
}

#main ul {
    padding-left: 1em;
}

#main ul li {
    line-height: 1.8em;
}

#main ul li b {
    font-weight: 500;
}

#main p {
    margin-top: 0;
    line-height: 1.8em;
}

#main #page-menu {
    margin-top: 2em;
}

#main #page-menu ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

#main #page-menu li {
    font-size: 0.9em;
    font-weight: 500;
    padding: 0;
}

#main .ref-topic {
    border-bottom: 2px solid #ccc;
    padding-bottom: 1em;
    padding-top: 1em;
}

.indent {
    margin-left: 1.5em;
}

#side {
    font-size: 1em;
    margin-right: 2em;
}

#side a {
    color: #454545;
}

#side a:hover {
    text-decoration: underline;
}

#side h1 {
    color: #454545;
}

#side h1 {
    font-size: 1.1em;
    font-weight: 600;
}

#side h2 {
    font-family: Roboto;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}

#side ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
    line-height: 1.5em;
}

#side li {
    font-size: 0.9em;
    font-weight: 500;
}

#footer {
    color: #888;
    font-size: 0.8em;
    text-align: center;
    line-height: 3em;
}

#footer a:hover {
    text-decoration: underline;
}
