@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-condensed-v3-latin-600.eot');
    src: url('/fonts/barlow-condensed-v3-latin-600.eot?#iefix') format('embedded-opentype'),
         url('/fonts/barlow-condensed-v3-latin-600.woff2') format('woff2'),
         url('/fonts/barlow-condensed-v3-latin-600.woff') format('woff'),
         url('/fonts/barlow-condensed-v3-latin-600.ttf') format('truetype'),
         url('/fonts/barlow-condensed-v3-latin-600.svg#BarlowCondensed') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v19-latin-regular.eot');
    src: url('/fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-v19-latin-regular.woff2') format('woff2'),
         url('/fonts/roboto-v19-latin-regular.woff') format('woff'),
         url('/fonts/roboto-v19-latin-regular.ttf') format('truetype'),
         url('/fonts/roboto-v19-latin-regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/roboto-v19-latin-500.eot');
    src: url('/fonts/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-v19-latin-500.woff2') format('woff2'),
         url('/fonts/roboto-v19-latin-500.woff') format('woff'),
         url('/fonts/roboto-v19-latin-500.ttf') format('truetype'),
         url('/fonts/roboto-v19-latin-500.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/roboto-v19-latin-italic.eot');
    src: url('/fonts/roboto-v19-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-v19-latin-italic.woff2') format('woff2'),
         url('/fonts/roboto-v19-latin-italic.woff') format('woff'),
         url('/fonts/roboto-v19-latin-italic.ttf') format('truetype'),
         url('/fonts/roboto-v19-latin-italic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/bitter-v14-latin-regular.eot');
    src: url('/fonts/bitter-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bitter-v14-latin-regular.woff2') format('woff2'),
         url('/fonts/bitter-v14-latin-regular.woff') format('woff'),
         url('/fonts/bitter-v14-latin-regular.ttf') format('truetype'),
         url('/fonts/bitter-v14-latin-regular.svg#Bitter') format('svg');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/merriweather-v20-latin-700.eot');
    src: url('/fonts/merriweather-v20-latin-700.eot?#iefix') format('embedded-opentype'),
         url('/fonts/merriweather-v20-latin-700.woff2') format('woff2'),
         url('/fonts/merriweather-v20-latin-700.woff') format('woff'),
         url('/fonts/merriweather-v20-latin-700.ttf') format('truetype'),
         url('/fonts/merriweather-v20-latin-700.svg#Merriweather') format('svg');
}

@font-face {
    font-family: 'Iosevka Web';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/iosevka.woff2') format('woff2'),
         url('/fonts/iosevka.woff') format('woff'),
         url('/fonts/iosevka.ttf') format('truetype');
}
